{% extends 'base.html.twig' %}

{% block title %}
    Lista de Tareas
{% endblock %}

{% block body %}
<div class="container">
    {% if app.user.tipoUsuario == 'NORMAL' %}
        <h3><b>Mis Tickets</b></h3>
        <div class="pull-right">
            <a href="{{ path('nuevo_task') }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> <b>Nuevo Ticket</b></a>
        </div>
    {% else %}
        <h3><b>Mis Asignaciones</b></h3>
    {% endif %}
    <div class="container-fluid"></div>
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>Fecha</th>
                {% if app.user.tipoUsuario == 'NORMAL' %}
                    <th>Asignado A</th>
                {% else %}
                    <th>Usuario</th>
                {% endif %}
                <th>Estado</th>
                <th valign="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% if tasks|length > 0 %}
            {% for task in tasks %}
                <tr>
                    <td id="id">{{ task.id }}</td>
                    <td>{{ task.fecha|date('m/d/Y H:m:s ') }}</td>
                    {% if app.user.tipoUsuario == 'NORMAL' %}
                        <td>{{ task.usuarioAsignado.nombre }}</td>
                    {% else %}
                        <td>{{ task.usuario.nombre}}</td>
                    {% endif %}
                    <td id="estado">{{ task.estado }}</td>
                    {% if app.user.tipoUsuario == 'NORMAL' %}
                        <td align="center"><a class="btn btn-success btn-xs" href="{{ path('ver_task',{id: task.id }) }}"><span class="glyphicon glyphicon-eye-open"></span> <b>Ver</b></a></td>
                    {% else %}
                        <td align="center">
                            <a class="btn btn-success btn-xs" href="{{ path('ver_task',{id: task.id }) }}"><span class="glyphicon glyphicon-eye-open"></span> <b>Ver</b></a>
                            {% if task.estado=='Pendiente' %}
                                <button type="button" class="btn btn-primary btn-xs" id="btnIniciar"><span class="glyphicon glyphicon-hand-up"></span> <b>Iniciar</b></button>
                                <button type="button" class="btn btn-warning btn-xs" id="btnTerminar" hidden="true" ><span class="glyphicon glyphicon-ok"></span> <b>Terminar</b></button>
                            {% else%}
                                {% if task.estado=='En_Proceso' %}
                                    <button type="button" class="btn btn-warning btn-xs" id="btnTerminar"><span class="glyphicon glyphicon-ok"></span> <b>Terminar</b></button>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

        {% else %}
            <tr>
                <td colspan="5"><b>No Hay Tareas Creadas!</b></td>
            </tr>
        {% endif %}
        </tbody>
    </table>

</div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
    $(document).ready(function(e){
        $(document).on('click','#btnIniciar',function(e){
            var r=$(e.target).closest('tr');
            var id=r.find('#id').text();

            $.ajax({
                url:Routing.generate('actualizar_task', {id:id}),
                data:JSON.stringify({estado:'En_Proceso'}),
                type:'PUT',
                success:function(e) {
                    r.find('#btnIniciar').hide();
                    r.find('#btnTerminar').show();
                    r.find('#estado').text('En_Proceso');
                }
            });
        });

        $(document).on('click','#btnTerminar',function(e){
            var r=$(e.target).closest('tr');

            var id=r.find('#id').text();

            $.ajax({
                url:Routing.generate('actualizar_task', {id:id}),
                data:JSON.stringify({estado:'Terminado'}),
                type:'PUT',
                success:function(e) {
                    r.find('#btnTerminar').hide();
                    r.find('#estado').text('Terminado');
                }
            });
        });
    });
</script>

{% endblock %}